<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Account - Habitual</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,40..300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <nav class="navbar">
    <div class="navbar__container">
      <a href="/" id="navbar__logo"><i class="fa-regular fa-square-check"></i>habitual</a>
      <ul class="navbar__menu">
        <li class="navbar__item"><a href="/" class="navbar__links">home</a></li>
        <li class="navbar__item"><a href="/about" class="navbar__links">about</a></li>
        {% if current_user.is_authenticated %}
          <li class="navbar__btn"><a href="/tech" class="button">launch app</a></li>
          <li class="navbar__item"><a href="/logout" class="navbar__links">logout</a></li>
          <li class="navbar__item"><a href="/account" class="navbar__links">account</a></li>
        {% else %}
          <li class="navbar__item"><a href="/login" class="navbar__links">log in</a></li>
          <li class="navbar__btn"><a href="/register" class="button">register</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <!-- Main content -->
  <div class="main">
    <div class="main__container">
      <div class="main__content">
        <h1>Account</h1>
        <!-- Display user account information -->
        <form method="POST" action="{{ url_for('account') }}">
          {{ form.hidden_tag() }}
          <div class="form-group">
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control") }}
            {% for error in form.username.errors %}
              <div class="error">{{ error }}</div>
            {% endfor %}
          </div>
          <div class="form-group">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control") }}
            {% for error in form.password.errors %}
              <div class="error">{{ error }}</div>
            {% endfor %}
          </div>
          <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
          </div>
        </form>
        <!-- Delete Account Form -->
        <form method="POST" action="{{ url_for('delete_account') }}">
          <button type="submit" class="btn btn-danger">Delete Account</button>
        </form>
      </div>
    </div>
  </div>
  
  <script src="{{ url_for('static', filename='slide.js') }}"></script>
  <script src="https://kit.fontawesome.com/bac23c12dd.js" crossorigin="anonymous"></script>
</body>
</html>
